{% extends "index.html" %}
{% load i18n %}

{% block content %}
    {% if not current_company %}
        <div class="oh-wrapper">
            <div class="oh-alert oh-alert--info mt-4">
                {% trans "Select a single company (not \"All Companies\") to configure geo-mark rules." %}
            </div>
        </div>
    {% else %}
        <div hx-get="{% url 'geo-fencing-rule-nav' %}" hx-trigger="load"></div>

        {% include "generic/components.html" %}

        <div class="oh-wrapper" id="geoFencingRuleListContainer">
            <div class="animated-background"></div>
        </div>
    {% endif %}
{% endblock content %}
