{% load i18n horillafilters %}
{% get_company as theme_obj %}
<h5 class="oh-job__post">{{ recruitment.title }}</h5>
<p class="oh-onboarding__content oh-job__post_description">{{ recruitment.description|linebreaksbr }}</p>
<span class="fw-bold d-block"> {% trans "Job positions :" %}</span>
<ul class="oh-job__description-list mt-3">
    {% for job in recruitment.open_positions.all %}
        <li class="oh-job__description-list_item">{{ job }}</li>
    {% endfor %}
</ul>

{% if recruitment.status == "CLOSED" %}
<p class="mt-4 text-sm text-[#565E6C]">{% trans "This job is no longer accepting applications." %}</p>
{% else %}
<a
    href='{% if career_slug %}{% url "career-apply" career_slug recruitment.id %}{% else %}{% url "application-form" %}?recruitmentId={{recruitment.id}}{% endif %}'
    rel="noopener noreferrer"
    target="_blank"
    class="oh-btn mt-4 text-[{{theme_obj.primary_700}}] hover:text-white hover:bg-[{{theme_obj.primary_600}}]"
    role="button"
    data-toggle="oh-modal-toggle"
    data-target="#jobDetailModal"
    style="border: 1px solid {{ theme_obj.primary_600 }}"
>
    {% trans "Apply Now" %}
</a>
{% endif %}
